REST_PORT=8017
GRPC_PORT=50057
DATABASE_URL=sqlite:////app/data/reports.db
AUTH_GRPC_TARGET=ms-auth:50051
PERIODS_GRPC_TARGET=ms-periods:50052
ACADEMICS_GRPC_TARGET=ms-academics:50053
GRADES_GRPC_TARGET=ms-grades:50054
ATTENDANCE_GRPC_TARGET=ms-attendance:50055
