REST_PORT=8013
GRPC_PORT=50053
DATABASE_URL=postgresql+psycopg://agm:agm_dev_password@postgres:5432/agm_academics_db
AUTH_GRPC_TARGET=ms-auth:50051
PERIODS_GRPC_TARGET=ms-periods:50052
NOTIFICATIONS_GRPC_TARGET=ms-notifications:50056
