REST_PORT=8014
GRPC_PORT=50054
DATABASE_URL=postgresql+psycopg://agm:agm_dev_password@postgres:5432/agm_grades_db
AUTH_GRPC_TARGET=ms-auth:50051
PERIODS_GRPC_TARGET=ms-periods:50052
ACADEMICS_GRPC_TARGET=ms-academics:50053
